/*
 * Base structure
 */
body {
	font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
@media (min-width: 768px) {
	body {
		position: relative;
		margin-left: 100px;
		padding-top: 0;
	}
}

/*
 * Navbar structure
 */
body > div.container-fluid > div > nav {
	background-color: white;
	border: 0;
	margin: 0;
}
 @media (min-width: 768px) {
	body > div.container-fluid > div > nav {
		border-radius: 0;
	}
	body > div.container-fluid > div > nav > div > div.navbar-header > a, #navbar > ul > li > a {
		color: #888;
	}
}

.sub-header {
  	padding-bottom: 10px;
  	border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  	display: none;
}
@media (min-width: 768px) {
  	.sidebar {
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    z-index: -9999;
		display: block;
	    height: 100vh;
	    width: 220px;
	    padding: 20px;
	    overflow-x: hidden;
	    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	    background-color: #2F4050;
	    border-right: 1px solid #eee;
  	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	/*margin-bottom: 20px;*/
	margin-left: -20px;
}
.nav-sidebar > li > a {
  	padding-right: 20px;
  	padding-left: 20px;
  	color: #a7b1c2;
  	font-weight: 600;
  	font-size: 13px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav-sidebar > li > a:hover {
  	color: white;
  	background-color: #293846;
}


/*
 * Main content
 */

.main {
  	padding: 20px;
  	padding-top: 20px;
	background-color: #F3F3F4;
	height: 100vh;
}
@media (min-width: 768px) {
  	.main {
    	padding-right: 40px;
    	padding-left: 40px;
		margin-left: 0px; 
		width: 100%;
  	}
}
.main .page-header {
  	margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  	margin-bottom: 30px;
  	text-align: center;
}
.placeholders h4 {
  	margin-bottom: 0;
}
.placeholder {
  	margin-bottom: 20px;
}
.placeholder img {
  	display: inline-block;
  	border-radius: 50%;
}
