@media (min-width: 768px) {
	.sidebar {
		top: 0;
		height: 100vh;
		z-index: 1031;
		width: 220px;
	}
	.navbar-fixed-top {
	
	}
	body div.container-fluid div nav {
		border-radius: 0;
	}
	.main {
		margin-left: 0px; 
		width: 100%;
	}
	body {
		position: relative;
		margin-left: 220px;
		padding-top: 0;
	}
}