RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1\.php

Options +FollowSymLinks

RewriteRule ^war/([0-9-_]+)/?$ war_view.php?id=$1 [NC,L]
RewriteRule ^war/edit/([0-9-_]+)/?$ war_edit.php?id=$1 [NC,L]
RewriteRule ^war/([0-9-_]+)/roster/?$ roster.php?war_id=$1 [NC,L]
RewriteRule ^war/([0-9-_]+)/attacks/?$ attacks.php?war_id=$1 [NC,L]